<div class="principal-container">

    <div class="barr">
        <h2>Soluciones profesionales <br> de saneamiento portátil</h2>
        <p>Alquiler de sanitarios químicos premium para eventos, obras y espacios al aire libre. <br> Limpios, fiables y con mantenimiento profesional.</p>
        <button class="presupuesto">Calcular presupuesto</button>
        <button class="llamanos"> Llamanos hoy</button>
    </div>
    <app-services-component></app-services-component>
    <app-why-us></app-why-us>
    <app-our-products></app-our-products>

</div>