#principal-container{
    padding-top: 10vh;
    padding-bottom: 10vh;
}
h3{
    text-align: center;
    margin-top: 5vh;
    font-size: 40px;
}
#hero{
    text-align: center;
    margin-top: 20px;
}
.services{
    display: flex;
}
.images{
    margin: 50px;
    border: 1px solid #b9c2cf;
    width: 300px;  
    overflow: hidden;
    border-radius: 20px;
    box-shadow:0 5px 8px -3px rgba(70, 70, 70, 0.4);
    transition: all 0.2s ease-in-out;
}
.images:hover{

    scale: calc(1.02);
}
.images p{
    color: #555;
}
.images img {
    width: 100%;          
    height: 200px;        
    object-fit: cover;    
}
.description{
    padding: 1vw;
}
h4{
    margin-bottom: 1.5vh;
}
.services{
display: flex;
justify-content: center;
}
p{
    color: #64748b;
}
.description p{
    color: #64748b;
}
@media(max-width:1250px){
    .services{
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    justify-items: center;
    }
}
@media(max-width:650px){
    .services{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    }
    .images{
    margin: 50px;
    border: 1px solid #b9c2cf;
    width: 300px;  
    overflow: hidden;
    border-radius: 20px;
    box-shadow:0 5px 8px -3px rgba(70, 70, 70, 0.4);
    transition: all 0.2s ease-in-out;
}
.images p{
    padding: 5px;
}
    
}