<div id="principal-container">

    <h3>Nuestros Servicios</h3>
    <p id="hero">Proveemos soluciones sanitarias para cada ocacion y locacion</p>
    
    <div class="services">
        <div class="images" data-aos="fade-right">
            <img src="/WhatsApp-Image-2023-04-12-at-5.21.57-PM.jpeg" alt="rueda de la fortuna">
            <div class="description">
    
                <h4>Eventos y festivales</h4>
                <p>Garantiza la comodidad de tus invitados con nuestros baños portátiles de primera calidad, diseñados para conciertos, festivales y eventos especiales.</p>
    
            </div>
        </div>
        <div class="images" data-aos="fade-right">
            <img src="/istockphoto-897664288-612x612-1.jpg" alt="rueda de la fortuna">
            <div class="description">
    
                <h4>Sitios de construccion</h4>
                <p>Unidades duraderas y fiables. Perfectas para obras de construcción de cualquier tamaño.</p>
                
            </div>
        </div>
        <div class="images" data-aos="fade-left">
            <img src="/slide-1.jpg" alt="rueda de la fortuna">
            <div class="description">
    
                <h4>Eventos privados</h4>
                <p>Elegantes baños portátiles para bodas, eventos corporativos y fiestas privadas.</p>
    
            </div>
        </div>
        <div class="images" data-aos="fade-left">
            <img src="/pic9.jpg" alt="rueda de la fortuna">
            <div class="description">
    
                <h4>Desagote de Pozos y Cámaras</h4>
                <p>Vaciado rápido y seguro de pozos ciegos y cámaras sépticas. Contamos con camiones de gran capacidad para resolver desde urgencias domiciliarias hasta grandes obras.</p>
                
            </div>
        </div>
    </div>
</div>
