<header>
    <nav>
        <ul>
            <li>
                <a href="#home">
                    <div class="box">
                        <span class="material-symbols-outlined">home</span>
                        <span class="label">Inicio</span>
                    </div>
                </a>
            </li>

            <li>
                <a href="#services">
                    <div class="box">
                        <span class="material-symbols-outlined">cleaning_services</span>
                        <span class="label">Servicios</span>
                    </div>
                </a>
            </li>

            <li>
                <a href="#products">
                    <div class="box">
                        <span class="material-symbols-outlined">shopping_cart</span>
                        <span class="label">Baños</span>
                    </div>
                </a>
            </li>

            <li>
                <a href="#contact">
                    <div class="box">
                        <span class="material-symbols-outlined">contact_page</span>
                        <span class="label">Contacto</span>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</header>