<header>
    <nav>
        <ul>
            <li>
                <a routerLink="/inicio" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                    <div class="box">
                        <span class="material-symbols-outlined">home</span>
                        <span class="label">Inicio</span>
                    </div>
                </a>
            </li>

            <li>
                <a routerLink="/servicios" routerLinkActive="active-link">
                    <div class="box">
                        <span class="material-symbols-outlined">cleaning_services</span>
                        <span class="label">Servicios</span>
                    </div>
                </a>
            </li>

            <li>
                <a routerLink="/banos" routerLinkActive="active-link">
                    <div class="box">
                        <span class="material-symbols-outlined">shopping_cart</span>
                        <span class="label">Baños</span>
                    </div>
                </a>
            </li>

            <li>
                <a routerLink="/contacto" routerLinkActive="active-link">
                    <div class="box">
                        <span class="material-symbols-outlined">contact_page</span>
                        <span class="label">Contacto</span>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</header>