
<div class="barr">

    <div class="inicio">

        <h2>Mr.Mofer Dashboard</h2>
        <p>Admin Portal</p>

    </div>
    
    <div class="links">

        <ul>
            <li><a routerLink="/admin/dashboard" routerLinkActive = "active" [routerLinkActiveOptions]="{exact: true}"><span class="material-symbols-outlined">dashboard</span>Dashboard</a></li>
            <li><a routerLink="/admin/reservs" routerLinkActive = "active" [routerLinkActiveOptions]="{exact: true}"><span class="material-symbols-outlined">calendar_today</span>Reservas</a></li>
            <li><a routerLink="/admin/inventory" routerLinkActive = "active" [routerLinkActiveOptions]="{exact: true}"><span class="material-symbols-outlined">package_2</span>Inventario</a></li>
            
        </ul>

    </div>

</div>