<div class="total_block">
  <h2>Por Qué Nosotros?</h2>
  <p class="hero">El nombre más confiable en saneamiento portátil</p>

  <div class="qualities">
    <div class="quality">
      <span class="material-symbols-outlined">task_alt</span>

      <div class="text">
        <h3>Servicio de calidad</h3>
        <p>
          Unidades limpias y bien mantenidas que superan <br />
          los estándares de la industria.
        </p>
      </div>
    </div>
    <div class="quality">
      <span class="material-symbols-outlined">task_alt</span>

      <div class="text">
        <h3>Servicio de calidad</h3>
        <p>
          Unidades limpias y bien mantenidas que superan <br />
          los estándares de la industria.
        </p>
      </div>
    </div>
    <div class="quality">
      <span class="material-symbols-outlined">task_alt</span>

      <div class="text">
        <h3>Servicio de calidad</h3>
        <p>
          Unidades limpias y bien mantenidas que superan <br />
          los estándares de la industria.
        </p>
      </div>
    </div>
  </div>
  <div class="qualities">
    <div class="quality">
      <span class="material-symbols-outlined">task_alt</span>

      <div class="text">
        <h3>Servicio de calidad</h3>
        <p>
          Unidades limpias y bien mantenidas que superan <br />
          los estándares de la industria.
        </p>
      </div>
    </div>
    <div class="quality">
      <span class="material-symbols-outlined">task_alt</span>

      <div class="text">
        <h3>Servicio de calidad</h3>
        <p>
          Unidades limpias y bien mantenidas que superan <br />
          los estándares de la industria.
        </p>
      </div>
    </div>
    <div class="quality">
      <span class="material-symbols-outlined">task_alt</span>

      <div class="text">
        <h3>Servicio de calidad</h3>
        <p>
          Unidades limpias y bien mantenidas que superan <br />
          los estándares de la industria.
        </p>
      </div>
    </div>
  </div>
</div>
