<div class="total_block">
  <h2 data-aos="fade-down" data-aos-duration="800">Por qué nosotros?</h2>
  <p class="hero" data-aos="fade-down" data-aos-duration="900">El nombre más confiable en saneamiento portátil</p>

  <div class="qualities">
    <div class="quality" data-aos="fade-up">
      <span class="material-symbols-outlined">task_alt</span>

      <div class="text">
        <h3>Servicio de calidad</h3>
        <p>
          Unidades limpias y bien mantenidas que superan <br />
          los estándares de la industria.
        </p>
      </div>
    </div>
    <div class="quality" data-aos="fade-up" data-aos-delay="50">
      <span class="material-symbols-outlined">
delivery_truck_speed
</span>

      <div class="text">
        <h3>Entrega rápida</h3>
        <p>
          Entrega el mismo día disponible para necesidades urgentes.
        </p>
      </div>
    </div>
    <div class="quality" data-aos="fade-up" data-aos-delay="100">
      <span class="material-symbols-outlined">
timer
</span>

      <div class="text">
        <h3>Respuesta Rápida</h3>
        <p>
          Atención inmediata y resolutiva durante toda tu jornada. Disponibles de 8:00 a 18:00 hs.
        </p>
      </div>
    </div>
  </div>
  <div class="qualities">
    <div class="quality" data-aos="fade-up" data-aos-delay="150">
      <span class="material-symbols-outlined">
help
</span>

      <div class="text">
        <h3>Asesoramiento Profesional</h3>
        <p>
          Evaluamos tu necesidad específica y te recomendamos el servicio técnico adecuado para tu caso.
        </p>
      </div>
    </div>
    <div class="quality" data-aos="fade-up" data-aos-delay="200">
      <span class="material-symbols-outlined">
shield
</span>

      <div class="text">
        <h3>Totalmente licenciado</h3>
        <p>
          Todos los permisos y la cobertura del seguro están incluidos.
        </p>
      </div>
    </div>
    <div class="quality" data-aos="fade-up" data-aos-delay="250">
      <span class="material-symbols-outlined">
group
</span>

      <div class="text">
        <h3>Equipo de expertos</h3>
        <p>
          Personal profesional con años de experiencia.
        </p>
      </div>
    </div>
  </div>
</div>
